In [1]:
import sys
import pandas as pd
from jinja2 import Template

In [2]:
sys.path.append('../..')
from utils.database_connector import DBConn
from utils.query_template import QTemplate
conn = DBConn()
qtemplate = QTemplate()

In [4]:
data = pd.read_csv('../../data/snapshot/data_usage.csv', dtype={'customer_id': str})

In [5]:
data

         record_year  record_month customer_id  total_mb
0               2021             1     2000001    395800
1               2021             8     2000001     49212
2               2021             7     2000001    199774
3               2021             2     2000001    244809
4               2021             6     2000001    269046
...              ...           ...         ...       ...
2143242         2021            11     2345111      4458
2143243         2021            11     2345112       458
2143244         2021            11     2345113      2883
2143245         2021            11     2345114      1673
2143246         2021            11     2345115      1541

[2143247 rows x 4 columns]

In [ ]:
conn.execute_values(data, 'rpterp.crd_erp_monthly_customer_data_usage')